nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(0,0,0);
    border-bottom: 2px solid red;

}
.heading {
    color: azure;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links a {
    color: azure;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 100%;
}
.nav-links li{
    list-style: none;
}
.burger div {
    width: 25px;
    height: 3px;
    background-color: azure;
    margin: 5px;
    transition: all 0.3s ease;
}
.burger {
    display: none;
}
@media screen and (max-width:1080px) {
    .nav-links {
        width: 60%;
    }
    
}
@media screen and (max-width:760px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 15%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        cursor: pointer;
        display: block;
    }
}
.nav-active {
transform: translateX(0%);
}
@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    To{
        opacity: 1;
        transform: translateX(0px);
    }
       
}
    .toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
    }

html {
    scrollbar-width: normal;
    scrollbar-color: rgb(120, 0, 0) rgb(25, 25, 25);
  }

  html::-webkit-scrollbar {
    width: 1vw;
  }
  html::-webkit-scrollbar-thumb {
    background-color: rgb(120, 0, 0);
  }
  html::-webkit-scrollbar-track {
    background-color: rgb(25, 25, 25);
  }

  body {
    background-image: url(/images/Back.PNG);
    background-repeat: repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
  }

  img {
    border-radius: 20px;
    border: thick solid azure;

    border-radius: 8%;
    margin-top: 1%;
    width: 100%;
  }
  p.user {
    font-weight: bold;
  }

  em.RBold {
    color: red;
    font-style: normal;
    font-weight: bold;
  }
  p {
    color: white;
  }
  * {
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
  }
  #div1 {
    border: thick solid rgb(255, 0, 0);
    width: 65%;
    height: 100%;
    background-color: rgb(20, 20, 20);
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 0%;
    border-top: 0px rgb(255, 0, 0);
    border-bottom: 0px rgb(255, 0, 0);
  }
  div.Sep {
    border: thin solid azure;
    width: 100%;
    height: 100%;
    margin-top: 1%;
    background-color: rgb(10, 10, 10);
    padding-left: 2%;
    padding-right: 2%;
    border-top: 1px rgb(255, 0, 0);
    border-bottom: 1px rgb(255, 0, 0);
  }
  #Sep1 {
    border: thin solid red;
    width: 100%;
    height: 100%;
    background-color: rgb(10, 10, 10);
    padding-left: 2%;
    padding-right: 2%;
    border-top: 10px rgb(255, 0, 0);
    border-bottom: 10px rgb(255, 0, 0);
  }
  h1 {
    color: azure;
  }
  h2 {
    color: azure;
  }
  h3 {
    color: azure;
  }
  a {
    color: red;
  }